* {
    box-sizing: border-box;
  }
  
  input[type=text], input[type=submit], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  .addmeal {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .addmeal:hover {
    background-color: #45a049;
  }
  
  .add-container {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;

  }
  .form-area {
      /* position: absolute; */
  }
  .form-area  {
    position: absolute;
    top: 10%;
    left: 35%; 
    width: 30%;
    border: 1px solid #f2f2f2;
    padding: 25px;
    text-align: center;
    background: white;
  }
  
  .title, .desc, .add-meal-button {
      margin-bottom: 10px;
      text-align: center;
  }
  .title{
      /* font-size: 20px; */
  }
  
  @media screen and (max-width: 600px) {
    .title, .desc, .addmeal {
      width: 100%;
      margin-top: 0;
    }
  }

  .add-meal-button {
      width: 100%;
  }